body {
	min-width: 1000px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
 	width: 100%;
}
header {
	height: 120px;
	background-image: url("images/ph_logo.png");
	background-repeat: no-repeat;
	background-position: 0px -100px;
}
section{
	background-color: #4ccf40;
	width: 76%;
	float: left;
	min-height: 1020px;
}
aside{
	background-color: #4ccf40;
	width: 24%;
	float: right;
	font-family: Ubuntu;
	min-height: 1020px;
}
form{
	background-color: white;
}
input[type=button]{
	padding: 6px 15px;
	background-color:#1FA314;
	color:#fafafa;
	border:2px solid #1FA314;
}	
input[type=button]:hover{
	background-color:#fafafa;
	color:#1FA314;
}
#search_form{
	margin: 50px auto;
	float: right;
}
.search {
	padding: 8px 15px;
	background:rgba(50, 50, 50, 0.2);
	border:0px solid #dbdbdb;
}
.search_button {
	position: relative;
	left: -8px;
}
#menu-buttons {
	margin-bottom: 0px;
	width: 100%;
    list-style-type: none;
    margin: auto;
	padding: 1px;
    overflow: hidden;
}
.li-menu-buttons {
	float: left;
	width: 25%;
	border: 2px solid #1FA314;
}
.a-menu-buttons {
    display: block;
    color: white;
    text-align: center;
	line-height: 40px;
	height:40px;
    text-decoration: none;
	background-color: #1FA314;
	/*border-radius: 5px 2px 5px 2px;*/
}
.a-menu-buttons:hover {
    background-color: white;
    text-decoration: none;
}
#member_inquiry{
	font:inherit;
	border:none;
	border-bottom: 1px solid white;
}
#news_section {
	border: none;
    width: 100%;
    top: 10px;
    position: relative;
    padding-left: 20px;
    padding-right: 18px;
    border-bottom: 1px solid white;
    height: 358px;
}
#inq_label{
	position: relative;
	top: -5px;
	font-size: 22px;
	padding-left: 20px;
	font-weight: bold;
	color: white;
}
#login_form{
	position: relative;
    top: -10px;
    margin-left: 6.48%;
    margin-right: 6.48%;
    padding: 5.55%;
    width: 88.88%;
    border-radius: 5px;
}
#pin{
	width: 100%;
	padding: 8px;
	border-radius: 5px;
}
#password{
	width: 100%;
	padding: 8px;
	border-radius: 5px;
}
#login_button{
	position: absolute;
	right: 15px;
	top: 130px;
	width: 100px;
}
.news {
	font-family: "Ubuntu";
	color:#fafafa;
}
.news-timeline {
	width: 300px;
	height: 400px;
	position: absolute;
	right: 10px;
	background-color: #1FA314;
}
iframe#twitter-widget-0.twitter-timeline.twitter-timeline-rendered {
	position: relative !important;
	top: 20px !important;
	width: 100% !important;
	height: 358px !important;
	padding-left: 20px !important;
	padding-right: 18px !important;
}
a#twitter-timeline.twitter-timeline {
	position: relative;
    top: 20px;
    left: 20px;
}
a:link{
	text-decoration: none;
}
button#toTopBtn{
	width: 70px;
	height: 70px;
	border-radius: 50%;

	color: white;
	background-color: #1FA314;
	outline: none;
	border:none;
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 1;
}
.jumbotron {
	background: #358CCE;
	color: #FFF;
	border-radius: 0px;
}
.jumbotron-sm { 
	padding-top: 24px;
	padding-bottom: 24px; 
}
.jumbotron small {
	color: #FFF;
}
.h1 small {
	font-size: 24px;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}

/*  hover effect */
.fa:hover {
    opacity: 0.7;
}

/* Facebook color*/
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter color*/
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.panel-heading {
	width: inherit;
}
.panel-body {
	width: inherit;
}
.panel-footer {
	width: inherit;
	text-align: right;
}
#demo3 {
	padding-left: 15px;
	overflow-y: auto; 
	height: 210px;
}
#fb-link {
	border-radius: 50%;
}
#twitter-link {
	border-radius: 50%;
}
#btnContactUs {
	padding: 6px 15px;
	background-color:#1FA314;
	color:#fafafa;
	border:2px solid #1FA314;
}
#btnContactUs:hover {
	background-color:#fafafa;
	color:#1FA314;
}
#news-prev-btn {
	color: #1FA314;
}
#news-next-btn {
	color: #1FA314;
}
#news-panel-heading {
	padding-top: 5px;
    padding-bottom: 5px;
    font-size: 21px;
    font-weight: normal;
}