header {
	height: 120px;
	background-image: url("images/ph_logo.png");
	background-repeat: no-repeat;
	background-position: 0px -100px;
}
nav{
	/* Added just for visualization. Can be removed or modified. */
	background-color: black;
	height: 200px;
}
section{
	/* Added just for visualization. Can be removed or modified. */
	background-color: #4ccf40;
	float: left;
	width: 70%;
	height: 600px;
}
aside{
	background-color: #4ccf40;
	font-family: Ubuntu, Sans, Serif, Monospace;
	float: right;
	width: 30%;
}
form{
	background-color: white;
}
input[type=button]{
	padding: 6px 15px;
	background-color:#1FA314;
	color:#fafafa;
	border:2px solid #1FA314;
}	
input[type=button]:hover{
	background-color:#fafafa;
	color:#1FA314;
}
#search_form{
	margin: 50px auto;
	float: right;
}
.search {
	padding: 8px 15px;
	background:rgba(50, 50, 50, 0.2);
	border:0px solid #dbdbdb;
}
.search_button {
	position: relative;
	left: -8px;
}
.twitter_feed {
	padding: 20px;
	text-align: center;
	border-left: 1px solid #7b7b7b;
	border-bottom: 2px solid white;
}
#member_inquiry{
	font:inherit;
	padding: 30px;
	border-left: 1px solid #7b7b7b;
	border-bottom: 2px solid white;
}
h2{
	font-size: 25px;
	text-align: center;
	color: white;
}
#login_form{
	position: relative;
	margin: auto;
	padding: 15px;
	width: 300px;
	border-radius: 5px;
}
#pin{
	width: 280px;
	padding: 8px;
	border-radius: 5px;
}
#password{
	width: 280px;
	padding: 8px;
	border-radius: 5px;
}
#login_button{
	position: absolute;
	top: 130px;
	width: 100px;
}
a:link{
	text-decoration: none;
}