header {
	height: 120px;
	background-image: url("images/ph_logo.png");
	background-repeat: no-repeat;
	background-position: 0px -100px;
}
form {
	margin: 50px auto;
	float: right;
}
.search {
	padding: 8px 15px;
	background:rgba(50, 50, 50, 0.2);
	border:0px solid #dbdbdb;
}
.search_button {
	position: relative;
	padding: 6px 15px;
	left: -8px;
	border:2px solid #1FA314;
	background-color:#1FA314;
	color:#fafafa;
}
.search_button:hover {
	background-color:#fafafa;
	color:#1FA314;
}
ul {
    list-style-type: none;
    margin: 0, auto;
    overflow: hidden;
 
	
}
li {
	
	float: left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    width: 320px;
	line-height: 40px;
	height:40px;
    text-decoration: none;
	background-color: #4CAF50;
	border-radius: 5px 2px 5px 2px;
}

li a:hover {
    background-color: #1FA314;
}